<% if @pages %>
  <ul id="main-menu">
    <% @pages.each do |page| %>
      <li<%= ' class="active"'.html_safe if page.matches?(request.path) %>><%= link_to page.nav_title, page.path %></li>
    <% end %>
  </ul>
<% end %>
